:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --accent-colot-hero: #188CE8;
  --background-color: #F5F5F5;
  --background-team-color: #F5F4FA;
  --background-services-color: #F5F4FA;
  --footer-background-color: #2F303A;
  --contact-color: #757575;
  --white-color: #ffffff;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --logo-color-black: #000000;
  --border-card: 1px solid #EEEEEE;
  --fill-color: #AFB1B8;
  --footer-bg-svg-color: rgba(255, 255, 255, 0.1);
  --transition-ms-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.active {
  border-radius: 4px;
  color: var(--title-text-color);
  -webkit-transition: background-color var(--transition-ms-cubic), color var(--transition-ms-cubic);
  transition: background-color var(--transition-ms-cubic), color var(--transition-ms-cubic);
}
.active:focus, .active:hover {
  color: var(--accent-color);
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-content {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 216px;
  height: 50px;
  min-width: 216px;
  padding: 0;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  border: none;
  cursor: pointer;
  display: inline-block;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: background-color var(--transition-ms-cubic);
  transition: background-color var(--transition-ms-cubic);
}
.hero__btn:focus, .hero__btn:hover {
  background-color: var(--accent-colot-hero);
}

.subscribe__btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 28px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white-color);
  cursor: pointer;
  -webkit-transition: background-color var(--transition-ms-cubic);
  transition: background-color var(--transition-ms-cubic);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: var(--accent-colot-hero);
}

.subscribe__btn-icon {
  margin-left: 10px;
  margin-right: 28px;
  fill: var(--white-color);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: fill var(--transition-ms-cubic);
  transition: fill var(--transition-ms-cubic);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--accent-color);
}

.modal__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--accent-color);
  border: none;
  -webkit-transition: background-color var(--transition-ms-cubic), -webkit-box-shadow var(--transition-ms-cubic);
  transition: background-color var(--transition-ms-cubic), -webkit-box-shadow var(--transition-ms-cubic);
  transition: background-color var(--transition-ms-cubic), box-shadow var(--transition-ms-cubic);
  transition: background-color var(--transition-ms-cubic), box-shadow var(--transition-ms-cubic), -webkit-box-shadow var(--transition-ms-cubic);
}
.modal__btn:hover, .modal__btn:focus {
  background-color: var(--accent-colot-hero);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: inherit;
  border: none;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: background-color var(--transition-ms-cubic), -webkit-box-shadow var(--transition-ms-cubic);
  transition: background-color var(--transition-ms-cubic), -webkit-box-shadow var(--transition-ms-cubic);
  transition: background-color var(--transition-ms-cubic), box-shadow var(--transition-ms-cubic);
  transition: background-color var(--transition-ms-cubic), box-shadow var(--transition-ms-cubic), -webkit-box-shadow var(--transition-ms-cubic);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active__btn {
  border-radius: 4px;
  color: var(--title-text-color);
  -webkit-transition: background-color var(--transition-ms-cubic), color var(--transition-ms-cubic);
  transition: background-color var(--transition-ms-cubic), color var(--transition-ms-cubic);
}

.header {
  border-bottom: var(--border-card);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
.header__search--current-activ::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-colot-hero);
  margin-bottom: -1px;
  border-radius: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform var(--transition-ms-cubic);
  transition: -webkit-transform var(--transition-ms-cubic);
  transition: transform var(--transition-ms-cubic);
  transition: transform var(--transition-ms-cubic), -webkit-transform var(--transition-ms-cubic);
}
.header__search--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-colot-hero);
}

.header__search--current-activ:hover::before,
.header__search--current-activ:focus::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__search-item {
  position: relative;
}
.header__search-item:not(:last-child) {
  margin-right: 40px;
}

.header__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--logo-color-black);
}

.logo--span {
  color: var(--accent-color);
}

.footer__logo {
  display: block;
  padding: 0;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer__logo-span {
  color: var(--accent-color);
}

.header-contacts {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--contact-color);
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
  max-height: 600px;
  max-width: 1600px;
  background-color: var(--footer-background-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
}

.hero__content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
  max-width: 696px;
  margin: 0 auto 30px;
}

.features__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__item {
  max-width: 270px;
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0px;
}

.features__container {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-services-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__title {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.features__subtitle {
  line-height: 1.71;
  padding: 0;
}

.work {
  padding-top: 0;
}

.work__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__label {
  position: relative;
}

.work__img {
  display: block;
}

.work__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--background-team-color);
}

.team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__list {
  min-height: 368px;
  min-width: 270px;
  background: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  list-style: none;
}

.team__foto {
  display: block;
}

.team__card--content {
  padding-top: 30px;
  margin-bottom: 30px;
}

.team__card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team__card-subtitle {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.team__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--fill-color);
  background-color: var(--white-color);
  -webkit-transition: background-color var(--transition-ms-cubic);
  transition: background-color var(--transition-ms-cubic);
}
.team__social-links:hover, .team__social-links:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.team__social-icons {
  fill: currentColor;
}

.team__labels {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: var(--fill-color);
  -webkit-transition: background-color var(--transition-ms-cubic), color var(--transition-ms-cubic);
  transition: background-color var(--transition-ms-cubic), color var(--transition-ms-cubic);
}
.clients__icon:hover, .clients__icon:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__label {
  fill: currentColor;
}

.footer {
  max-width: 1600px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--footer-background-color);
}

.footer--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__content--container {
  margin-right: 70px;
}

.footer__address {
  font-style: normal;
  max-width: 231px;
}

.footer__address-list {
  width: 231px;
  list-style: none;
  display: block;
}

.footer__address-item:not(:last-child) {
  padding-bottom: 9px;
}

.footer__link--color {
  line-height: 1.71;
  text-decoration: none;
  color: var(--white-color);
}

.footer__link {
  line-height: 1.71;
  text-decoration: none;
  color: var(--footer-contact-color);
}

.join__lead {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.87;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.join__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--footer-bg-svg-color);
  color: var(--white-color);
  -webkit-transition: background-color var(--transition-ms-cubic);
  transition: background-color var(--transition-ms-cubic);
}
.join__icon:focus, .join__icon:hover {
  background-color: var(--accent-color);
}

.join__label {
  fill: currentColor;
}

.subscribe {
  display: block;
  margin-left: 93px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__titl {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  -webkit-transition: var(--transition-ms-cubic);
  transition: var(--transition-ms-cubic);
}
.subscribe__input:not(:-moz-placeholder-shown) {
  border-color: var(--accent-color);
}
.subscribe__input:not(:-ms-input-placeholder) {
  border-color: var(--accent-color);
}
.subscribe__input:focus, .subscribe__input:not(:placeholder-shown) {
  border-color: var(--accent-color);
}
.subscribe__input::-webkit-input-placeholder {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-moz-placeholder {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-ms-input-placeholder {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio__list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio__item {
  text-align: center;
}

.content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.content__item {
  list-style: none;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  background-color: var(--white-color);
}

.content__link {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow var(--transition-ms-cubic);
  transition: -webkit-box-shadow var(--transition-ms-cubic);
  transition: box-shadow var(--transition-ms-cubic);
  transition: box-shadow var(--transition-ms-cubic), -webkit-box-shadow var(--transition-ms-cubic);
}
.content__link:hover, .content__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content__overlay {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.content__overlay::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--transition-ms-cubic);
  transition: -webkit-transform var(--transition-ms-cubic);
  transition: transform var(--transition-ms-cubic);
  transition: transform var(--transition-ms-cubic), -webkit-transform var(--transition-ms-cubic);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
}
.content__overlay:focus::before, .content__overlay:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.content__container-overlay {
  position: absolute;
}
.content__container-overlay:focus .content__container-text, .content__container-overlay:hover .content__container-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.content__container-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  letter-spacing: 0.03em;
  width: 322px;
  -webkit-transition: var(--transition-ms-cubic);
  transition: var(--transition-ms-cubic);
  -webkit-transform: translateY(230px);
          transform: translateY(230px);
}

.content__inform {
  padding: 20px 24px;
  border-right: var(--border-card);
  border-left: var(--border-card);
  border-bottom: var(--border-card);
}

.content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--title-text-color);
}

.content__subtitle {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transition-ms-cubic), visibility var(--transition-ms-cubic);
  transition: opacity var(--transition-ms-cubic), visibility var(--transition-ms-cubic);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 41px;
  padding-right: 39px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 40px;
  padding-bottom: 12px;
  color: var(--title-text-color);
}

.modal__form-group {
  width: 448px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__form-fild {
  position: relative;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.modal__form-fild:focus-within > .modal__form-iput, .modal__form-fild:hover > .modal__form-iput {
  border-color: var(--accent-color);
}
.modal__form-fild:focus-within > .modal__form-icon, .modal__form-fild:hover > .modal__form-icon {
  fill: var(--accent-color);
}
.modal__form-fild:focus-within > .modal__form-message, .modal__form-fild:hover > .modal__form-message {
  border-color: var(--accent-color);
}

.modal__form-label {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  display: block;
  padding-bottom: 4px;
  color: var(--contact-color);
}

.modal__form-iput {
  padding: 12px 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color var(--transition-ms-cubic);
  transition: border-color var(--transition-ms-cubic);
}

.modal__form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  -webkit-transition: fill var(--transition-ms-cubic);
  transition: fill var(--transition-ms-cubic);
}

.modal__form-message {
  resize: none;
  height: 120px;
  width: 100%;
  outline: transparent;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color var(--transition-ms-cubic);
  transition: border-color var(--transition-ms-cubic);
}
.modal__form-message::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-message::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-message::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.fild {
  margin-bottom: 20px;
}

.modal__chekbox {
  /* appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox-icon .modal__unchecked {
  opacity: 1;
  -webkit-transition: var(--transition-ms-cubic);
  transition: var(--transition-ms-cubic);
}

.modal__chekbox:checked + .modal__checkbox-icon .modal__unchecked {
  opacity: 0;
}

.modal__checkbox-icon .modal__checked {
  opacity: 0;
  -webkit-transition: var(--transition-ms-cubic);
  transition: var(--transition-ms-cubic);
}

.modal__chekbox:checked + .modal__checkbox-icon .modal__checked {
  opacity: 1;
}

.modal__agreement-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-left: 9px;
}

.modal__agreement-link {
  text-decoration: underline;
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */