.join__lead {
	font-weight: 700;
	font-size: 14px;
	line-height: 0.87;

	text-transform: uppercase;
	margin-bottom: 20px;

	color: var(--white-color);
}

.join__list {
	display: flex;
	gap: 10px;
}

.join__icon {
	display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	background-color: var(--footer-bg-svg-color);
	color: var(--white-color);

	transition: background-color var(--transition-ms-cubic);

	&:focus,
	&:hover {
		background-color: var(--accent-color);
	}
}

.join__label {
	fill: currentColor;
}