.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;

	display: flex;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 25px;

	color: var(--logo-color-black);
}

.logo--span {
	color: var(--accent-color);
}

.footer__logo {
	display: block;
	padding: 0;
	margin-bottom: 20px;

	color: var(--white-color);
}

.footer__logo-span {
	color: var(--accent-color);
}