:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196F3;
	--accent-colot-hero: #188CE8;
	--background-color: #F5F5F5;
	--background-team-color: #F5F4FA;
	--background-services-color: #F5F4FA;
	--footer-background-color: #2F303A;
	--contact-color: #757575;
	--white-color: #ffffff;
	--footer-contact-color: rgba(255, 255, 255, 0.6);
	--logo-color-black: #000000;
	--border-card: 1px solid #EEEEEE;
	--fill-color: #AFB1B8;
	--footer-bg-svg-color: rgba(255, 255, 255, 0.1);
	--transition-ms-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}